html  
   head
      meta(charset="UTF-8")
      meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
     
      meta(property="og:title" content=`Zircel / CO2 Calculator`)
      meta(property="og:description" content=`Lerne, wie gut dein CO2 Footprint im schweizerischen Durchschnitt abschneidet.`)
      meta(property="og:type" content="website")
      meta(property="og:image" content=`https://co2.zircel.com/assets/share-icon.png`)
  
      meta(name="twitter:card" content="summary_large_image")
      meta(name="twitter:site" content="zircel_")
      meta(name="twitter:title" content=`Zircel / CO2 Calculator`)
      meta(name="twitter:description" content=`Lerne, wie gut dein CO2 Footprint im schweizerischen Durchschnitt abschneidet.`)
      meta(name="twitter:image" content=`https://co2.zircel.com/assets/share-icon.png`)

      link(rel="apple-touch-icon" sizes="180x180" href="assets/icons/apple-icon-180x180.png")
      link(rel="icon" type="image/png" sizes="192x192"  href="assets/icons/android-icon-192x192.png")
      link(rel="icon" type="image/png" sizes="32x32" href="assets/icons/favicon-32x32.png")
      link(rel="icon" type="image/png" sizes="96x96" href="assets/icons/favicon-96x96.png")
      link(rel="icon" type="image/png" sizes="16x16" href="assets/icons/favicon-16x16.png")

      link(href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet")
      title Zircel / CO2 Calculator
   body
      
      #faq-panel
         .inner
         
            h2 Auf welcher Datenbasis beruhen die Berechnungen?
            p Die Datengrundlage stammt vornehmlich vom Bundesamt für Statistik. 
            
            h2 Ist die Datenbasis sowie die Berechnungs-Formel öffentlich?
            p Ja, die Berechnungen sind öffentlich einsehbar auf <a href="https://github.com/Zircel/co2" target="blank">github.com/Zircel/co2</a>.
            
            h2 Sind meine Resultate genau?
            p Nein, es handelt sich lediglich um eine Annäherung. Viele Aspekte werden dabei ignoriert. Ein schwer erfassbarer Bereich beispielsweise ist der Konsum, welcher in dieser Applikation komplett fehlt.
            
            h2 Wer ist verantwortlich für die Implementierung dieser Seite?
            p Die Applikation wird betrieben von <a href="Zircel" target="blank">Zircel</a>, einem Schweizer Startup, welches eine Plattform zur Entwicklung von "Conversational Applications" anbietet. 
            
            button.close

      #selection-panel
         header
            .logo 
               span.z Z
               span.slash /
               span CO<sub>2</sub> 
               .beta Beta
               
            .aside
               button#faq-button FAQ
         h1 Bist du besser als der 🇨🇭 Durchschnitt?
         h3 Fülle dazu die untenstehenden Kategorien aus und lerne, wie gut dein CO<sub>2</sub> Footprint im schweizerischen Durchschnitt abschneidet.
         .cards
            a#food 
               .img-wrapper
                  img(src="assets/food.jpg")
               h4 Ernährung
               .calc-fake-btn
                  span Berechnen
                  .status.food
            a#housing 
               .img-wrapper
                  img(src="assets/housing.jpg")
               h4 Wohnen
               .calc-fake-btn
                  span Berechnen
                  .status.housing
            a#commute 
               .img-wrapper
                  img(src="assets/commute.jpg")
               h4 Pendeln
               .calc-fake-btn
                  span Berechnen
                  .status.commute
            a#flights 
               .img-wrapper
                  img(src="assets/flights.jpg")
               h4 Fliegen
               .calc-fake-btn
                  span Berechnen
                  .status.flights
      #tree-panel.hidden 
         button.close
         .inner
         button#viz-button 👉 Schaue dir deine neuen Werte an 👈
      #notification     
      #co2-bar
      #visualization
         .inner 
            .circles
               .circle.you
                  div.label
                     span 
               .circle.avg
                  div.label
                     span
            span.summary
            .distribution 
               span Ernährung 
               .food 
               span Wohnen
               .housing
               span Pendeln
               .commute 
               span Fliegen 
               .flights
         button.close
         
   script(src="https://zircel.com/dist/hello/component.js")
         
