html  
   head
      meta(charset="UTF-8")
      meta(name="viewport" content="width=device-width, initial-scale=1")
      title CO2 Challenge Calculator
   body
      #selection-panel
         h1 Berechne deinen CO2 Fussabdruck
         h3 Fülle dazu die untenstehenden Kategorien aus und lerne, wie gut du im schweizerischen Durschnitt abschneidest.
         a#food Essen
         a#housing Wohnen
         a#commute Pendeln
         a#flights Fliegen
      #tree-panel.hidden 
         header
            button#back Zurück
         .inner
      #notification     
      #co2-bar
      #visualization

   script(src="https://zircel.com/dist/hello/component.js")
         
