html  
   head
      meta(charset="UTF-8")
      meta(name="viewport" content="width=device-width, initial-scale=1")
      link(href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet")
      title CO2 Score
   body
      #selection-panel
         h1 Dein persönlicher CO2 Score
         h3 Fülle dazu die untenstehenden Kategorien aus und lerne, wie gut du im schweizerischen Durschnitt abschneidest.
         .cards
            a#food Ernährung
               button Berechnen
               .status
            a#housing Wohnen
               button Berechnen
               .status
            a#commute Pendeln
               button Berechnen
               .status
            a#flights Fliegen
               button Berechnen
               .status
      #tree-panel.hidden 
         header
            button#back Zurück
         .inner
      #notification     
      #co2-bar
      #visualization

   script(src="https://zircel.com/dist/hello/component.js")
         
