:root {
   --food-color: rgb(49, 255, 118);
   --housing-color: rgb(63, 94, 251);
   --commute-color: rgb(252, 70, 107);
   --flights-color: rgb(252, 200, 54);

   --food-share: 0;
   --housing-share: 0;
   --commute-share: 0;
   --flights-share: 0;

   --space-bottom: 40px;
   --font-size: 17px;
   --font-family: 'Roboto', Helvetica, sans-serif;
   --font-color: #353434;
}

*,
html,
body {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Roboto', Helvetica, sans-serif;
}

.beta {
   padding: 3px 8px;
   transform: rotate(-40deg) translate(-19px, 10px);
   background-color: var(--commute-color);
   border-radius: 4px;
   color: white;
}

button,
a {
   cursor: pointer;
   color: black;
}

button {
   border: 0;
   border-radius: 5px;
   padding: 9px 25px;
   margin-right: 16px;
   margin-bottom: 16px;
   font-size: 17px;
   font-weight: bold;
   cursor: pointer;
   background-color: white;
}

button.close {
   position: fixed;
   bottom: 20px;
   right: 20px;
   margin: 0;
   background-color: #eee;
   padding: 0;
   width: 50px;
   height: 50px;
   border-radius: 40px;
   box-shadow: 0px 0px 5px 0px #c1c1c1;
}

button.close:before,
button.close:after {
   width: 36px;
   height: 6px;
   position: absolute;
   top: 22px;
   left: 7px;
   content: '';
   border-radius: 6px;
   background-color: #131212;
   transform: rotate(45deg);
}

button.close:after {
   transform: rotate(-45deg);
}

h1 {
   font-size: 40px;
   line-height: 1;
   width: 100%;
   text-align: center;
   margin-bottom: 40px;
   margin-top: 50px;
}

h3 {
   font-size: 20px;
   font-weight: normal;
   max-width: 600px;
   text-align: center;
   margin: 0 auto 40px;
   line-height: 1.4;
   color: #4a4a4a;
}

sub {
   vertical-align: sub;
}

/* FAQ PANEL */

#faq-panel {
   display: none;
   height: 100vh;
   width: 100%;
   position: fixed;
   background-color: white;
   -webkit-overflow-scrolling: touch;
   z-index: 2;
   overflow: auto;
}

#faq-panel.show {
   display: block;
}

#faq-panel > .inner {
   max-width: 700px;
   margin: 40px auto;
   width: 100%;
   padding: 20px;
}

#faq-panel p {
   display: block;
   padding: 10px 0 40px;
}

/* SELECTION PANEL */

#selection-panel {
   display: block;
   padding-bottom: 50px;
}

#selection-panel.hidden {
   display: none;
}

#selection-panel {
   padding: 20px;
   max-width: 1200px;
   width: 100%;
   margin: 0 auto;
   padding-bottom: var(--space-bottom);
}

#selection-panel header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   font-size: 20px;
}

#selection-panel header .logo {
   display: flex;
   align-items: center;
   justify-content: center;
}

#selection-panel header .z {
   font-family: 'Helvetica Neue', Helvetica, sans-serif;
   font-size: 32px;
   font-weight: 500;
   letter-spacing: 4px;
}

#selection-panel header .slash {
   font-family: 'Helvetica Neue', Helvetica, sans-serif;
   font-size: 44px;
   font-weight: lighter;
   margin-right: 12px;
}

#selection-panel header .aside button {
   background-color: #eee;
   border-radius: 7px;
   padding: 5px 13px;
   color: black;
   border: none;
   margin-left: 15px;
   font-size: 16px;
}

#selection-panel .cards {
   display: flex;
   flex-wrap: wrap;
}

#selection-panel .cards .img-wrapper {
   width: 100%;
   height: 100px;
   overflow: hidden;
}

#selection-panel .cards .img-wrapper img {
   width: 100%;
}

#selection-panel .cards #food .img-wrapper img {
   margin-top: -80px;
}

#selection-panel .cards #flights .img-wrapper img {
   margin-top: -15px;
}

#selection-panel .cards a {
   width: 230px;
   font-size: 20px;
   font-weight: bold;
   height: 270px;
   margin: 15px auto;
   border-radius: 15px;
   border: 1px solid #ddd;
   background-color: #fafafa;
   overflow: hidden;
   position: relative;
}

#selection-panel .cards a h4 {
   width: 100%;
   display: block;
   padding: 25px;
   text-align: center;
   font-size: 37px;
   color: #3e3e3e;
}

#selection-panel .cards a .calc-fake-btn {
   position: absolute;
   display: flex;
   align-items: center;
   justify-content: center;
   bottom: 0;
   width: 100%;
   padding: 10px;
   border-top: 1px solid #ddd;
   text-align: center;
   font-weight: normal;
   font-size: 18px;
   text-decoration: underline;
}

#selection-panel .status {
   width: 40px;
   height: 40px;
   border-radius: 20px;
   margin-left: 20px;
   border: 3px solid #e8e8e8;
   display: inline-block;
   position: relative;
}

#selection-panel .done .status.food {
   border-color: var(--food-color);
   background-color: var(--food-color);
}

#selection-panel .done .status.housing {
   border-color: var(--housing-color);
   background-color: var(--housing-color);
}

#selection-panel .done .status.commute {
   border-color: var(--commute-color);
   background-color: var(--commute-color);
}

#selection-panel .done .status.flights {
   border-color: var(--flights-color);
   background-color: var(--flights-color);
}

#selection-panel .status:before,
#selection-panel .status:after {
   content: '';
   background-color: #e8e8e8;
   width: 4px;
   height: 19px;
   top: 7px;
   position: absolute;
   left: 18px;
   transform: rotate(45deg);
   border-radius: 3px;
}

#selection-panel .done .status:before,
#selection-panel .done .status:after {
   background-color: black;
}

#selection-panel .status:after {
   left: 10px;
   transform: rotate(-45deg);
   height: 10px;
   top: 15px;
}

/* NOTIFICATION */

#notification {
   display: none;
   background-color: #121111;
   border-radius: 10px;
   color: #e4e4e4;
   position: fixed;
   top: 20px;
   right: 20px;
   width: 320px;
   font-size: 15px;
   padding: 10px 20px 10px 50px;
   line-height: 1.2;
}

#notification.show {
   display: block;
}

#notification:before {
   content: '👍';
   font-size: 30px;
   position: absolute;
   left: 11px;
}

#notification.worse:before {
   content: '👎';
}

/* CO2 BAR */

#co2-bar {
   position: fixed;
   bottom: 0;
   text-align: center;
   width: 100%;
   padding: 10px 20px;
   background: #131212;
   color: #e4e4e4;
   font-size: 14px;
   line-height: 1.2;
   cursor: pointer;
}

#co2-bar.hidden {
   display: none;
}

#co2-bar .res {
   font-weight: bold;
   display: block;
   margin-right: 7px;
   font-size: 30px;
}

/* TREE PANEL */

#tree-panel {
   display: block;
   padding-bottom: 50px;
}

#tree-panel.hidden {
   display: none;
}

#tree-panel .inner {
   margin: var(--space-bottom) 0;
}

#tree-panel button#viz-button {
   margin: 60px auto;
   box-shadow: 0px 0px 3px 0px #c1c1c1;
   display: none;
}

#tree-panel button#viz-button.show {
   display: block;
}

/* VISUALIZATION PANEL */

#visualization {
   overflow: auto;
   display: none;
   height: 100%;
   background-color: black;
   position: fixed;
   bottom: 0;
   width: 100%;
   justify-content: center;
   align-items: center;
}

#visualization.show {
   display: block;
}

#visualization .distribution {
   padding: 20px;
}

#visualization .distribution > div {
   color: white;
   padding: 3px;
   margin-bottom: 12px;
   border-radius: 8px;
}

#visualization * {
   color: #e4e4e4;
}

#visualization .distribution > span {
   margin-bottom: 3px;
   display: block;
}

#visualization .inner {
   margin: 0 auto;
   width: 100%;
   max-width: 500px;
}

#visualization .circles {
   margin: 20px auto;
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
}

#visualization .circle {
   background: linear-gradient(
      90deg,
      var(--food-color) 10%,
      var(--housing-color) 40%,
      var(--commute-color) 65%,
      var(--flights-color) 90%
   );
   border-radius: 500px;
   position: absolute;
}

#visualization .circle.avg {
   background: transparent;
   border: 3px solid white;
}

#visualization .circle .label {
   display: flex;
   width: 100%;
   height: 100%;
   justify-content: center;
}

#visualization .circle.you .label {
   align-items: center;
}

#visualization .circle.avg .label {
   transform: rotate(-45deg);
}

#visualization .circle .label span {
   background-color: white;
   position: absolute;
   padding: 3px 5px;
   line-height: 1;
   color: black;
   font-size: 12px;
   font-weight: bold;
   top: -8px;
   border-radius: 3px;
}

#visualization .circle.you .label span {
   background: transparent;
   color: white;
   border: 1px solid rgba(255, 255, 255, 0.4);
   position: relative;
}

#visualization .summary {
   padding: 30px 20px;
   display: block;
}

#visualization .distribution .food {
   width: var(--food-share);
   background-color: var(--food-color);
}

#visualization .distribution .housing {
   width: var(--housing-share);
   background-color: var(--housing-color);
}

#visualization .distribution .commute {
   width: var(--commute-share);
   background-color: var(--commute-color);
}

#visualization .distribution .flights {
   width: var(--flights-share);
   background-color: var(--flights-color);
}
