:root {
   --food-color: rgba(49, 255, 118, 1);
   --housing-color: rgba(63, 94, 251, 1);
   --commute-color: rgba(252, 70, 107, 1);
   --flights-color: rgba(252, 200, 54, 1);
   --space-bottom: 120px;
}

*,
html,
body {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Roboto', Helvetica, sans-serif;
}

h1 {
   font-size: 40px;
   line-height: 1;
   width: 100%;
   text-align: center;
   margin-bottom: 40px;
   margin-top: 50px;
}

h3 {
   font-size: 20px;
   font-weight: normal;
   max-width: 600px;
   text-align: center;
   margin: 0 auto 40px;
   line-height: 1.4;
   color: #4a4a4a;
}

#selection-panel,
#tree-panel {
   display: block;
   padding-bottom: 50px;
}

#selection-panel.hidden,
#tree-panel.hidden {
   display: none;
}

#selection-panel {
   padding: 20px;
   max-width: 900px;
   width: 100%;
   margin: 0 auto;
   padding-bottom: var(--space-bottom);
}

#selection-panel header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   font-size: 20px;
}

#selection-panel header .logo {
   display: flex;
   align-items: center;
   justify-content: center;
}

#selection-panel header .z {
   font-family: 'Helvetica Neue', Helvetica, sans-serif;
   font-size: 32px;
   font-weight: 500;
   letter-spacing: 4px;
}

#selection-panel header .slash {
   font-family: 'Helvetica Neue', Helvetica, sans-serif;
   font-size: 44px;
   font-weight: lighter;
   margin-right: 12px;
}

#selection-panel header .aside button {
   background-color: #eee;
   border-radius: 7px;
   padding: 5px 13px;
   color: black;
   border: none;
   margin-left: 15px;
   font-size: 16px;
}

#selection-panel .cards {
   display: flex;
   flex-wrap: wrap;
}

#selection-panel .cards .img-wrapper {
   width: 100%;
   height: 100px;
   overflow: hidden;
}

#selection-panel .cards .img-wrapper img {
   width: 100%;
}

#selection-panel .cards #food .img-wrapper img {
   margin-top: -80px;
}

#selection-panel .cards #flights .img-wrapper img {
   margin-top: -15px;
}

#selection-panel .cards a {
   width: 230px;
   font-size: 20px;
   font-weight: bold;
   height: 270px;
   margin: 20px auto;
   border-radius: 15px;
   border: 1px solid #ddd;
   background-color: #fafafa;
   cursor: pointer;
   overflow: hidden;
   position: relative;
}

#selection-panel .cards a h4 {
   width: 100%;
   display: block;
   padding: 25px;
   text-align: center;
}

#selection-panel .cards a .calc-fake-btn {
   position: absolute;
   display: flex;
   align-items: center;
   justify-content: center;
   bottom: 0;
   width: 100%;
   padding: 10px;
   border-top: 1px solid #ddd;
   text-align: center;
   font-weight: normal;
   font-size: 18px;
   text-decoration: underline;
}

#selection-panel .status {
   width: 40px;
   height: 40px;
   border-radius: 20px;
   margin-left: 20px;
   border: 3px solid #e8e8e8;
   display: inline-block;
   position: relative;
}

#selection-panel .status:before,
#selection-panel .status:after {
   content: '';
   background-color: #e8e8e8;
   width: 4px;
   height: 19px;
   top: 7px;
   position: absolute;
   left: 18px;
   transform: rotate(45deg);
   border-radius: 3px;
}

#selection-panel .done .status:before,
#selection-panel .done .status:after {
   background-color: black;
}

#selection-panel .done .status {
   border-color: black;
}

#selection-panel .status:after {
   left: 10px;
   transform: rotate(-45deg);
   height: 10px;
   top: 15px;
}

#visualization {
   display: none;
   height: 100%;
   background-color: black;
   position: fixed;
   bottom: 0;
   width: 100%;
   justify-content: center;
   align-items: center;
}

#notification {
   display: none;
   background-color: grey;
   position: absolute;
   top: 0;
   right: 20px;
   width: 300px;
   height: 50px;
}

#notification.show,
#visualization.show {
   display: flex;
}

#co2-bar {
   position: fixed;
   bottom: 0;
   text-align: center;
   width: 100%;
   padding: 20px;
   background: #131212;
   color: #e4e4e4;
   font-size: 14px;
   display: flex;
   justify-content: center;
   align-items: baseline;
}

#co2-bar .res {
   font-weight: bold;
   display: block;
   margin-right: 7px;
   font-size: 30px;
}

.circle {
   background: rgb(49, 255, 118);
   background: linear-gradient(
      90deg,
      rgba(49, 255, 118, 1) 2%,
      rgba(63, 94, 251, 1) 24%,
      rgba(252, 70, 107, 1) 52%,
      rgba(252, 200, 54, 1) 92%
   );
   border-radius: 1000px;
   position: absolute;
}

.circle.avg {
   background: transparent;
   border: 3px solid white;
}

#visualization button {
   position: absolute;
   width: 100%;
   bottom: 10px;
   background-color: black;
   color: white;
   border: 0;
   font-size: 20px;
   font-weight: bold;
}

#tree-panel header {
   background: white;
   border-bottom: 1px solid #ddd;
   margin: 0;
   padding: 20px;
   position: fixed;
   top: 0;
   width: 100%;
}

#tree-panel header button#back {
   margin: 0;
}

#tree-panel .inner {
   margin: var(--space-bottom) 0;
}
